@using Base.Entity.MappedEntities
@model Order

@section PageCss {
    <link href="~/Assets/Libs/datepicker/bootstrap-datepicker3.standalone.css" rel="stylesheet" />
}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><a class="text-muted fw-light" href="/Order">Loan slip /</a> Update</h4>

    <!-- Basic Bootstrap Table -->
    <!-- Basic Layout -->
    <div class="row">
        <div class="col-xl">
            <form id="frmCreate">
                @Html.HiddenFor(m => m.ID)
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="mb-3 col-md-3 error-container">
                                <label class="form-label" for="basic-default-fullname">Borrowing code</label>
                                @Html.TextBoxFor(m => m.Code, new { @class = "form-control", @disabled = "true" })
                            </div>
                            <div class="mb-3 col-md-4 error-container">
                                <label class="form-label" for="basic-default-message">Reader</label>
                                <select name="Audience" class="select2 form-select" value="@Model.AudienceID" disabled>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="mb-3 col-md-5 error-container">
                                <label class="form-label" for="basic-default-fullname">Book</label>
                                <select name="BookID" class="select2 form-select" value="@Model.BookID" disabled>
                                </select>
                            </div>
                            <div class="mb-3 col-md-2 error-container">
                                <label class="form-label" for="basic-default-message">Quantity</label>
                                @Html.TextBoxFor(m => m.Quantity, new { @class = "form-control", @disabled = "true" })
                            </div>
                            <div class="mb-3 col-md-2 error-container">
                                <label class="form-label" for="basic-default-message">Borrow Day</label>
                                <input class="form-control datetimepicker" type="text" name="StrStartDate" disabled value="@Model.StartDate.ToString("dd/MM/yyyy")">
                            </div>
                            <div class="mb-3 col-md-2 error-container">
                                <label class="form-label" for="basic-default-message">Pay day</label>
                                <input class="form-control datetimepicker" type="text" name="StrEndDate" disabled value="@Model.EndDate.ToString("dd/MM/yyyy")">
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3 col-md-5 error-container">
                                <label class="form-label" for="basic-default-fullname">Status</label>
                                <select name="State" class="select2 form-select" value="@((int)Model.State)">
                                    <option value="0">Borrowing</option>
                                    <option value="1">Borrowed</option>
                                </select>
                            </div>
                            <div class="mb-3 col-md-2 error-container">
                                <label class="form-label" for="basic-default-message">Actual payment date</label>
                                <input class="form-control datetimepicker" type="text" name="StrActualEndDate" value="@(Model.ActualEndDate?.ToString("dd/MM/yyyy"))">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <button type="submit" class="btn btn-outline-primary" id="btnUpdate">Update</button>
                        <button type="reset" class="btn btn-outline-secondary">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!--/ Basic Bootstrap Table -->
</div>

@section PageJs {
    <script src="~/Assets/Libs/datepicker/bootstrap-datepicker.js"></script>
    <script src="~/Assets/Libs/datepicker/bootstrap-datepicker.vi.min.js"></script>
    <script src="~/Assets/Libs/repeater/jquery.repeater.js"></script>
    <script src="~/Assets/Scripts/Order/Update.js"></script>
}